

.imageBox{
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    width: 25%;
    
}

h3{
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.box input{
    width: 100%;
}