.anime-list{
    display: flex;   
    width: 100%;
    justify-content: space-around;
}

card{
    border: 0.5px solid #ddd;
    border-radius: 5%;
    width: 25%;
    margin-top:2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    transition: all 0.5s;
}

card:hover{
    
    border: 0.5px solid #000;
}